.col4 {
  flex: 0 0 auto !important;
  width: 33.33333333% !important;
}

.col8{
  flex: 0 0 auto !important;
  width: 55% !important;
}

.no-decoration {
  text-decoration: none;
}

.bg_footer {
  margin-top: 10px;
  background-image: url(../public/images/Icon2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
